.reset-btn {
  color: #494949;
  background: rgba(241,241,241,1);
  background: -moz-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(198,198,198,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,241,241,1)), color-stop(100%, rgba(198,198,198,1)));
  background: -webkit-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(198,198,198,1) 100%);
  background: -o-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(198,198,198,1) 100%);
  background: -ms-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(198,198,198,1) 100%);
  background: linear-gradient(to bottom, rgba(241,241,241,1) 0%, rgba(198,198,198,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#c6c6c6', GradientType=0 );

  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  font-size: .76rem;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  padding: 0 18px;
  height: 29px;
  margin-left: 5px;
}
