input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
  background-color: white;

  height: 29px;
  border-radius: 4px;
  background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
  -webkit-appearance: none;
  width: 1em;
  border-left: 1px solid white;
  opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;

}


.select-pound-rating {
  border-radius: 5px;
  display: flex;
  height: 29px;
  background-color: #eaecec;
  padding: 6px;
  font-size: 10px;
  width:180px;
  color: black;

}



.pound-rating-input{
  width:100%;
  padding-left: 5px;
  border-radius: 4px;
  height: 20px;
  font-weight: bold;
  color: black;
}


input[type="number"] {
  position: relative;
  margin: 0 0 1rem;
  border: 1px solid white;
  border-color: white white white white;
  margin-top: -2px;
  font-size: 12px;
  color: black;
  //padding: .2rem;
  //padding-right: 1px;
  //padding-top: 1px;
}




input[type="number"].mod::-webkit-inner-spin-button:hover,
input[type="number"].mod::-webkit-inner-spin-button:active{
  box-shadow: 0 0 2px white;
  opacity: .8;
}



