:host {
  background-color: white;
  border: 8px #d9d8d8 solid;
  border-radius: 10px;
  display: block;
  text-align: center;

}

.title{

  box-sizing: border-box;
  color:#2288b7;
  display: block;
  //font-family: "Source Sans Pro", sans-serif;
;
  font-size://60px;
  57px;
  line-height:    83.04px;
  text-align: center;
  text-size-adjust:    100%;


}

.description{
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  box-sizing: border-box;
  color: #727373;
}

.box{
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 30px;
  padding-top: 10px;
}


