<div class="modal-header">
  <h4 class="modal-title">Payment</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-md-4">Supplier</div>
      <div class="col-md-8">{{paymentRow.payment_supplier}}</div>
    </div>
    <div class="row">
      <div class="col-md-4">Pound Rating</div>
      <div class="col-md-8"> <span [innerHTML]="ratingHTML"></span></div>
    </div>
    <div class="row">
      <div class="col-md-4">Reference</div>
      <div class="col-md-8">{{paymentRow.payment_ref}}</div>
    </div>
    <div class="row">
      <div class="col-md-4">Value</div>
      <div class="col-md-8">{{paymentRow.payment_amount.replace('.',',')}}</div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>

